[Unit]
Description=My Rust Application

[Service]
ExecStart= /zml/cowa/tools/running_tool/mess/clc >clc.log 2>&1 &
WorkingDirectory=/zml/cowa/tools/running_tool/mess
Restart=on-failure
RestartSec=10
User=zhoumingliang

[Install]
WantedBy=multi-user.target
